body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.globalContainer{
  max-width: 1520px;
  margin: 0 auto;

}

.product_model {
  margin: 30px 0;
}
.product_model > * {
  font-size: 19px !important;
}

.product_model ul, ol, menu {
  list-style: disc;
  padding-left: 20px;
}

@media (max-width: 800px) {
  .product_model > * {
    font-size: 16px !important;
  }
}

@media (max-width: 500px) {
  .product_model > * {
    font-size: 13px !important;
  }
}
